{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link href="{% static 'css/' %}login.css" rel="stylesheet" type="text/css" />

    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" >
					<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
						<div class="kt-login__container">

							<div class="kt-login__signin">
								<div class="kt-login__head">
									<h2 class="text-center">WWWE </h2>
									<h3 class="kt-login__title">Login with your email</h3>

								</div>

                                {% csrf_token %}

									<div class="input-group">
                                        <input type="email" id="id_email" class="form-control"  placeholder="Email Address">
									</div>
									<div class="input-group mt-4">
										<input type="password" id="id_password" class="form-control" placeholder="Password">
									</div>

									<div class="kt-login__actions mt-4">
										<a href="#" onclick="mainjs.login(); return false;"  class="btn btn-primary">Sign In</a>
									</div>

							</div>

							<div class="kt-login__account">
								<span class="kt-login__account-msg">
									Don't you have an account yet?
								</span>
								&nbsp;&nbsp;
								<a href="/signup/" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    <span id="donen"></span>
    </body>



{% endblock %}