{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link href="{% static 'css/' %}login.css" rel="stylesheet" type="text/css" />
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">



    <div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(./assets/media//bg/bg-3.jpg);">
					<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
						<div class="kt-login__container">

							<div class="kt-login__signin">
								<div class="kt-login__head">
									<h3 class="kt-login__title">Login</h3>
								</div>

                                <div>{{ err }}</div>

								<form method="POST" class="kt-form" action="/login/">
                                    {% csrf_token %}
									<div class="input-group">
                                        {{ form.email }}
									</div>
									<div class="input-group">
										{{ form.password }}
									</div>
									<div class="row kt-login__extra">

										<div class="col kt-align-right">
											<a href="#" id="kt_login_forgot" class="kt-login__link">Forget Password ?</a>
										</div>
									</div>
									<div class="kt-login__actions">
										<button  id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
									</div>
								</form>
							</div>

							<div class="kt-login__account">
								<span class="kt-login__account-msg">
									Don't you have an account yet?
								</span>
								&nbsp;&nbsp;
								<a href="/signup/" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    <script src="{% static 'js/' %}login.js?v=1" type="text/javascript"></script>

    <span id="donen"></span>
    </body>



{% endblock %}