{% extends 'base.html' %}

{% block content %}
    <body class="class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">


    <div class="row siteW ortala pt-2">
        <div class="col-md-4 ">
              {% include "inc/left_menu.html" %}
        </div>
        <div class="col-md-8">

            <form>
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Create Recipe</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">


                    <div class="form-group">
                        <label>Select User / Food Provider</label>
                        <select class="form-control" id="user_select" name="user_select">
                            <option value="0">{{ uDetails.user_name }}</option>
                            {% for each in  providers %}
                            <option value="{{ each.id }}">{{ each.provider_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Recipe Name</label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name"  >
                    </div>

                    <div class="form-group">
                        <label>Ingredients</label>
                        <input type="text" class="form-control" placeholder="First Search Ingredients by Name" name="ingredient_name_search" id="ingredient_name_search">

                        <div class="input-group mt-2">
                            <select class="form-control" id="ingredient_name" name="ingredient_name">

                            </select>
                            <select class="form-control"  id="ingredient_portion" name="ingredient_portion">

                            </select>
                            <input type="text" class="form-control" placeholder="Amount" name="ingredient_amount" id="ingredient_amount">
                            <div class="input-group-append">
                                <a href="#" class="btn btn-primary" onclick="addIngredient(); return false;">Add</a>
                            </div>
                        </div>


                        <div id="ing_list_div" class="mt-2"></div>

                    </div>

                    <div class="form-group">
                            <label>How to cook?</label>
                            <textarea class="form-control" id="recipe_description" id="recipe_description" rows="4"></textarea>
                     </div>


                    <div class="form-group">
                        <label for="exampleSelect1">Recipe Category</label>
                        <select class="form-control" id="recipe_category" name="recipe_category">
                            {% for each in  categories %}
                            <option value="{{ each.id }}">{{ each.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1">Recipe Cuisine</label>
                        <select class="form-control" id="recipe_cuisine" name="recipe_cuisine">
                            {% for each in  cuisines %}
                            <option value="{{ each.id }}">{{ each.cuisine_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1">Number of Servings</label>
                        <select class="form-control" id="recipe_serving" name="recipe_serving">

                            <option value="1">1 serving</option>
                            <option value="2">2 servings</option>
                            <option value="3">3 servings</option>
                            <option value="4">4 servings</option>
                            <option value="5">5 servings</option>
                            <option value="6">6 servings</option>
                            <option value="7">7 servings</option>
                            <option value="8">8 servings</option>

                        </select>
                    </div>

                    <div class="form-group  ">
                        <div class="row">
                            <div class="col-md-7">
                                <label>Tags</label>
                                <input type="text" id="recipe_tag" name="recipe_tag" class="form-control">
                                <div id="tag_list_div" class="mt-2"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="tag_res" class="kt-shape-bg-color-2 p-2 kt-scroll d-none" style=" max-height: 200px; overflow: auto; width: 100%;"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions text-center">
                        <a href="#" onclick="addRecipe(); return false;" class="btn btn-primary">Calculate Nutrient Values and Create Recipe</a>

                    </div>
                </div>
            </div>
            </form>

        </div>

    </div>


<script>
var ingredients_ready = [];
var nutrients_ready = [];
var tags_ready = [];
let usda_key="KuIcKvoCAgZHxfps4rw4Zsa0Os9HW41e6hEoWVOZ";

var temp_ingredient_name = "";
var temp_ingredient_fdcId = "";
var temp_ingredient_amount = 0;
var temp_portition_name = "";
var temp_portition_gram = 0;
var temp_nutrients = [];


function addSelected(tid,tad) {

    $("#tag_res").addClass('d-none');
    $("#tag_res").html('');
    $("#recipe_tag").val('');


    tags_ready.push({
       tid: tid,
       name: tad
    });

    list_selected_tags();
}

function removeSelected(keyComing) {
    //delete tags_ready[keyComing];
    tags_ready = tags_ready.filter(item => item.tid !== keyComing);
    list_selected_tags();
}

function list_selected_tags() {
    willadd = '';


    tags_ready.forEach(function(item){
        willadd += '<span class="kt-badge kt-badge--dark kt-badge--inline mr-2">'+item.name+' <a href="#" class="kt-font-warning" onclick="removeSelected(\''+item.tid+'\'); return false;"><i class="fa fa-trash-alt ml-2"></i></a></span>';
    });

    $("#tag_list_div").html(willadd);

}

function delay(fn, ms) {
  let timer = 0
  return function(...args) {
    clearTimeout(timer)
    timer = setTimeout(fn.bind(this, ...args), ms || 0)
  }
}

function restCallTag_Wikidata() {
    query = $("#recipe_tag").val();
    $.ajax({
        url: 'https://wikidata.org/w/api.php?action=wbsearchentities&search='+query+'&format=json&language=en&type=item&continue=0',
        type: 'get',
        data: {query: query},
        dataType: 'json',
        success: function(json) {

            added_list = '';
            json.search.forEach(
                function(each){
                    added_list += '<a href="#" onclick="addSelected(\''+each.id+'\',\''+each.match.text+'\'); return false;" class="btn btn-outline-hover-primary w-100"><div class="text-left"><div class="font-weight-bold">'+each.match.text+'</div><div><small>'+each.description+'</small></div></div></a>';
                }
            );
            $("#tag_res").removeClass('d-none');
            $("#tag_res").html(added_list);
        }
    });

}


jQuery(document).ready(function() {

    $('#recipe_tag').keyup(delay(function (e) {
      restCallTag_Wikidata();
    }, 500));

    $('#ingredient_name_search').keyup(delay(function (e) {
      getIngredientNames();
    }, 500));

     $('#ingredient_name').on("change", function() {
        getIngredientPortition();
     });



});


function addIngredient() {

    temp_ingredient_amount = $("#ingredient_amount").val();
    temp_portition_gram = $("#ingredient_portion").val();
    temp_portition_name = $("#ingredient_portion option:selected").text();


     $.each(temp_nutrients, function(index, element) {
        nutrients_ready.push({
            nutrient_name:element.nutrient_name,
            nutrient_unit: element.nutrient_unitName,
            nutrient_amount:element.nutrient_amount*temp_portition_gram*temp_ingredient_amount/100,
            ingredient_id:temp_ingredient_fdcId
        });
     });


    ingredients_ready.push({
        name : temp_ingredient_name + ": " + temp_ingredient_amount +" x " + "("+ temp_portition_name +")",
        fdcId : temp_ingredient_fdcId
    });

    $("#ingredient").val('');
    list_ingredients();

    $("#ingredient_name_search").val("");
    $("#ingredient_amount").val("");
    $('#ingredient_name').empty();
    $('#ingredient_portion').empty();


}

function removeIngredient(index,fdcId) {
    ingredients_ready.splice(index, 1);
    list_ingredients()

    //remove from nutrients
    nutrients_ready = nutrients_ready.filter(item => item.ingredient_id !== String(fdcId));

}

function list_ingredients() {
    willadd = '<table class="table table-bordered">';

    i = 0;
    ingredients_ready.forEach(function(item){
        willadd += '<tr><td >'+item.name+'</td>  <td class="text-center" width="80"><a href="#" class="kt-font-warning" onclick="removeIngredient('+i+','+item.fdcId+'); return false;"><i class="fa fa-trash-alt ml-2"></i></a></td></tr>';
        i++;
    });

    willadd += '</table>';

    $("#ing_list_div").html(willadd);

}

function getIngredientNames(){

    query = $("#ingredient_name_search").val();
    $.ajax({
        url: 'https://api.nal.usda.gov/fdc/v1/foods/search?query='+query+'&api_key='+usda_key,
        type: 'get',
        data: {query: query},
        dataType: 'json',
        success: function(data) {

             $('#ingredient_name').empty();
             $('#ingredient_portion').empty();
             $("#ingredient_amount").val("");

             $('#ingredient_name').append($('<option/>', {
                value: 0,
                text : "Please select"
             }));

            $.each(data.foods, function(index, element) {

                if(element.brandOwner == null){
                    text_add = "";
                }else{
                    text_add = " ("+element.brandOwner+")";
                }

                $('#ingredient_name').append($('<option/>', {
                    value: element.fdcId,
                    text : element.description+text_add
                }));

            });

        }
    });
}

function getIngredientPortition(){
    let fdcId = $("#ingredient_name").val();
    temp_ingredient_name = $("#ingredient_name option:selected").text();
    temp_ingredient_fdcId = fdcId;

    $.ajax({
        url: 'https://api.nal.usda.gov/fdc/v1/food/'+fdcId+'?api_key='+usda_key,
        type: 'get',
        data: {query: query},
        dataType: 'json',
        success: function(data) {

            temp_nutrients = [];
            $.each(data.foodNutrients, function(index, element) {
                if(element.amount > 0){
                    temp_nutrients.push({nutrient_name:element.nutrient.name, nutrient_unitName:element.nutrient.unitName, nutrient_amount:element.amount});
                }
            });


            // portition listing for dropdown list
            $('#ingredient_portion').empty();

            i = 0;
            $.each(data.foodPortions, function(index, element) {

                var desc = "";
                if(element.portionDescription == null){
                    desc = element.modifier+" "+element.gramWeight+"g";
                }else{
                    desc = element.portionDescription;
                }

                $('#ingredient_portion').append($('<option/>', {
                    value: element.gramWeight,
                    text : desc
                }));
                i++;
            });

            if(i == 0){
                 $('#ingredient_portion').append($('<option/>', {
                    value: "1",
                    text : "gram"
                }));
            }



        }
    });


}


function addRecipe(){
    $.each(ingredients_ready, function(index, element) {
           console.log("name "+element.name);
    });

    let recipe_name = $("#recipe_name").val();
    let recipe_description = $("#recipe_description").val();
    let recipe_category = $("#recipe_category").val();
    let recipe_cuisine = $("#recipe_cuisine").val();
    let recipe_serving = $("#recipe_serving").val();
    let user_select = $("#user_select").val();

    let sendData = {
        recipe_name : recipe_name,
        recipe_description: recipe_description,
        recipe_category: recipe_category,
        recipe_cuisine: recipe_cuisine,
        recipe_serving: recipe_serving,
        user_select: user_select,
        tags: JSON.stringify(tags_ready),
        ingredients: JSON.stringify(ingredients_ready),
        nutrients: JSON.stringify(nutrients_ready)

    }


    let csrftoken = Cookies.get('csrftoken');
    $.ajax({
        url: 'http://127.0.0.1:8000/api/create_recipe/',
        type: 'post',
        data: sendData,
        headers: {'X-CSRFToken': csrftoken, 'Authorization': 'Token {{ token }}' },
        dataType: 'json',
        success: function(data) {
            console.log(data);

        }
    });

}





</script>






</body>

{% endblock %}