{% extends 'base.html' %}

{% block content %}
    <body class="class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">


    <div class="row siteW ortala pt-2">
        <div class="col-md-4 ">
              {% include "inc/left_menu.html" %}
        </div>
        <div class="col-md-8">

            <div class="row mb-4">
                <div class="col-md-9">
                    <form action="/search/">
                    <div class="input-group">
                        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search for...">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">Search</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <a href="/create_recipe/" class="btn btn-success form-control">Create a Recipe</a>
                </div>
            </div>



            {% for each in recipes_all %}
                 {% include "inc/recipe_short.html" %}
            {% endfor %}


            {% if recipes_all %}
            {% else %}
                <div class="text-center pt-5">No recipe yet! Please follow some users.</div>
            {% endif %}


        </div>

    </div>







</body>

{% endblock %}