{% extends 'base.html' %}

{% block content %}
    <body class="class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">


    <div class="row siteW ortala pt-2">
        <div class="col-md-4 ">
              {% include "inc/left_menu.html" %}
        </div>
        <div class="col-md-8">

           <div class=" kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " href="/settings/"  aria-selected="true">
                                        <i class="fa fa-info-circle"></i> General
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active"  href="settings/password"  aria-selected="false">
                                        <i class="fa fa-lock"></i> Change Password
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="settings/email" >
                                        <i class="fa fa-envelope"></i> Change Email
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">


                            <div class="tab-content">

                                <div class="tab-pane active" id="kt_apps_user_edit_tab_3" role="tabpanel">
                                  <form method="POST" class="kt-form" action="/settings/password">
                                    {% csrf_token %}
                                    <div class="kt-form kt-form--label-right">
                                        <div class="kt-form__body">
                                            <div class="kt-section kt-section--first">
                                                <div class="kt-section__body">


                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <input type="password" id="pass1" name="pass1" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                             <input type="password" id="pass2" name="pass2" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-last row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                             <input type="password" id="pass3" name="pass3" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                           <div class="kt-separator  kt-separator--fit kt-separator--border-solid"></div>

                                            <div class="text-center">
                                                <button type="submit" onclick="return checkform();" class="btn btn-success btn-wide">Save</button>
                                            </div>

                                    </div>
                                  </form>
                                </div>


                            </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


<script>
    function checkform(){
        let pass1 = $("#pass1").val();
        let pass2 = $("#pass2").val();
        let pass3 = $("#pass3").val();

        if(pass1.length >= 6 &&  pass2.length >= 8 && pass3.length >= 8) {
            if(pass2 == pass3 ){
               return true;
            }else{
               toastr.warning("New passwords must be same. Please check them!");
               return false;
            }
        }else{
             toastr.warning("Please fill all fields correctly! Passwords must be at least 8-character length.");
             return false;
        }

    }
</script>



{% include "inc/message.html" %}
</body>

{% endblock %}