{% extends 'base.html' %}

{% block content %}
    <body class="class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
{% load static %}

    <div class="row siteW ortala pt-2">
        <div class="col-md-4 ">
              {% include "inc/left_menu.html" %}
        </div>
        <div class="col-md-8">

           <div class=" kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"  href="/settings/"  aria-selected="true">
                                        <i class="fa fa-info-circle"></i> General
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link"  href="/settings/password" aria-selected="false">
                                        <i class="fa fa-lock"></i> Change Password
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="/settings/email" >
                                        <i class="fa fa-envelope"></i> Change Email
                                    </a>
                                </li>

                                 <li class="nav-item">
                                    <a class="nav-link"  href="/settings/allergies" >
                                        <i class="fa fa-exclamation-triangle"></i> Allergies
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">


                            <div class="tab-content">

                                <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                                    <form method="POST" class="kt-form" action="/settings/">
                                        {% csrf_token %}
                                        <div class="kt-form kt-form--label-right">
                                            <div class="kt-form__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">

                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Profile Photo</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
                                                                    <div class="kt-avatar__holder" style="background-size: cover; background-image: url({% static 'profile_photos/' %}{{ uDetails.profile_photo }});"></div>
                                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                        <a href="#" onclick="mainjs.change_avatar('{{ token }}'); return false;"><i class="fa fa-sync-alt"></i></a>
                                                                    </label>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Username</label>
                                                            <div class="col-lg-9 col-xl-6">

                                                                <div class="input-group">
                                                                {{ form.username }}
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text" >
                                                                        <i id="username_check_icon" class="kt-font-success flaticon2-check-mark"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-date-input" class="col-xl-3 col-lg-3 col-form-label">Birth Date</label>

                                                            <div class="col-lg-9 col-xl-6">
                                                                {{ form.date_birth }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">Gender</label>
                                                            <div class="col-9">
                                                                {{ form.gender }}

                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">About</label>
                                                            <div class="col-9">
                                                                {{ form.about }}

                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">API Token</label>
                                                            <div class="col-9 pt-2">
                                                                {{ token }}

                                                            </div>
                                                        </div>

                                                        {{ form.username_hidden }}

                                                        <div class="kt-separator  kt-separator--fit kt-separator--border-solid"></div>

                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-success btn-wide">Save</button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>

                    </div>
                </div>
            </div>

        </div>

    </div>







</body>

{% endblock %}