{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">


    <div class="row siteW ortala pt-2">
        <div class="col-md-4 ">
              {% include "inc/left_menu.html" %}
        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-xl-12">


                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__body">
                            <div class="kt-widget kt-widget--user-profile-3">
                                <div class="kt-widget__top">
                                    <div class="kt-widget__media kt-hidden-">
                                        <img class="rounded-circle" src="{% static 'profile_photos/' %}{{ otheruser.profile_photo }}" alt="image">
                                    </div>

                                    <div class="kt-widget__content">
                                        <div class="kt-widget__head">
                                            <a href="/user/{{ otheruser.username }}/" class="kt-widget__username">
                                                {{ otheruser.username }}
                                                <i class="flaticon2-correct"></i>
                                            </a>
                                            <div class="kt-widget__action">
                                                <a type="button" class="btn btn-label-success btn-sm btn-upper">block</a>&nbsp;
                                                {% if is_following_by_me == 1 %}
                                                    <a href="#" onclick="mainjs.unfollow_user('{{ uDetails.token }}', '{{ otheruser.username }}'); return false;" class="btn btn-secondary btn-sm btn-upper">unfollow</a>
                                                {% else %}
                                                    <a href="#" onclick="mainjs.follow_user('{{ uDetails.token }}', '{{ otheruser.username }}'); return false;" class="btn btn-primary btn-sm btn-upper">follow</a>
                                                {% endif %}

                                            </div>
                                        </div>
                                        <div class="kt-widget__subhead">
                                            {% if otheruser.gender == "Female" %}
                                                <span class="mr-3"><i class="fa fa-venus mr-1"></i> {{ otheruser.gender }}</span>
                                            {% else %}
                                                <span class="mr-3"><i class="fa fa-mars mr-1"></i> {{ otheruser.gender }}</span>
                                            {% endif %}

                                            <span class="mr-3"><i class="fa fa-birthday-cake mr-1"></i> {{ otheruser.date_birth }}</span>

                                        </div>
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__desc">
                                               {{ otheruser.about }}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            <div class="mt-3">
                                <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"  style="margin-bottom: 0px !important;" role="tablist">
                                    <li class="nav-item">
                                        <a href="/user/{{ otheruser.username }}/" class="nav-link " aria-selected="false">
                                            <i class="fa fa-concierge-bell"></i> Recipes ({{ otheruser_recipe_count }})
                                        </a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/user/{{ otheruser.username }}/followers/" class="nav-link active" aria-selected="false">
                                            <i class="fa fa-users"></i> Followers ({{ otheruser_follower_count }})
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/user/{{ otheruser.username }}/providers/" class="nav-link" aria-selected="false">
                                            <i class="fa fa-pizza-slice"></i> Food Providers ({{ otheruser_provider_count }})
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">

                     {% for each in users %}
                        {% include "inc/followers.html" %}
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>







</body>

{% endblock %}