<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__body">
 {% load static %}
        <div class="ortala div120">
            <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
                <div class="kt-avatar__holder" style="background-size: cover; background-image: url({% static 'profile_photos/' %}{{ uDetails.profile_photo }});"></div>

            </div>

        </div>

        <div class="text-center h4">{{ uDetails.user_name }}</div>

        <div class="mt-3">
            <ul class="kt-nav kt-nav--md-space">

                <li class="kt-nav__item {% if left_menu_selected == 'feed' %}active{% endif %}">
                    <a href="/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-tint"></i>
                        <span class="kt-nav__link-text">Home</span>
                    </a>
                </li>

                <li class="kt-nav__item {% if left_menu_selected == 'my_recipes' %}active{% endif %}">
                    <a href="/my_recipes/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-concierge-bell"></i>
                        <span class="kt-nav__link-text">My Recipes</span>
                         <span class="kt-nav__link-badge">
                            <span class="kt-badge kt-badge--success">{{ uDetails.recipe_count }}</span>
                        </span>
                    </a>
                </li>


                <li class="kt-nav__item {% if left_menu_selected == 'followers' %}active{% endif %}">
                    <a href="/my_followers/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-users"></i>
                        <span class="kt-nav__link-text">My Followers</span>
                         <span class="kt-nav__link-badge">
                            <span class="kt-badge kt-badge--info">{{ uDetails.my_follower_count }}</span>
                        </span>
                    </a>
                </li>

                <li class="kt-nav__item {% if left_menu_selected == 'followings' %}active{% endif %}">
                    <a href="/my_followings/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-users"></i>
                        <span class="kt-nav__link-text">My Followings</span>
                         <span class="kt-nav__link-badge">
                            <span class="kt-badge kt-badge--info">{{ uDetails.my_following_count }}</span>
                        </span>
                    </a>
                </li>

              <li class="kt-nav__item {% if left_menu_selected == 'following_providers' %}active{% endif %}">
                    <a href="/my_following_providers/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-map-marker-alt "></i>
                        <span class="kt-nav__link-text">My Following Providers</span>
                         <span class="kt-nav__link-badge">
                            <span class="kt-badge kt-badge--info">{{ uDetails.my_following_provider_count }}</span>
                        </span>
                    </a>
                </li>

             <li class="kt-nav__item {% if left_menu_selected == 'notifications' %}active{% endif %}">
                    <a href="/notifications/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-bell"></i>
                        <span class="kt-nav__link-text">Notifications</span>
                         <span class="kt-nav__link-badge">
                            <span class="kt-badge kt-badge--warning">{{ uDetails.notification_count }}</span>
                        </span>
                    </a>
                </li>



                <li class="kt-nav__separator"></li>

                {% for each in uDetails.providers %}
                <li class="kt-nav__item">
                    <a href="/provider/{{ each.id }}/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-pizza-slice"></i>
                        <span class="kt-nav__link-text">{{ each.provider_name }}</span>
                    </a>
                </li>
                {% endfor %}


                <li class="kt-nav__item {% if left_menu_selected == 'become_fp' %}active{% endif %}">
                    <a href="/become_fp/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-plus-square"></i>
                        <span class="kt-nav__link-text">Become a Food Provider</span>
                    </a>
                </li>

                <li class="kt-nav__separator"></li>



                <li class="kt-nav__item {% if left_menu_selected == 'settings' %}active{% endif %}">
                    <a href="/settings/" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-cog"></i>
                        <span class="kt-nav__link-text">Settings</span>
                    </a>
                </li>

                <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon fab fa-github-alt"></i>
                        <span class="kt-nav__link-text">About WWWE</span>
                    </a>
                </li>
                <li class="kt-nav__item">
                    <a href="{% url 'logout' %}" class="kt-nav__link">
                        <i class="kt-nav__link-icon fa fa-door-open"></i>
                        <span class="kt-nav__link-text">Logout</span>
                    </a>
                </li>
            </ul>

        </div>







    </div>
</div>

