<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__body">
 {% load static %}
        <div class="row">
            <div class="col-md-8">
                <span class="kt-userpic kt-userpic--circle kt-userpic--sm mr-2">
                    <img src="{% static 'profile_photos/' %}{{ each.recipe_user.profile_photo }}" alt="image">
                </span> <a href="/user/{{ each.recipe_user.username }}/">{{ each.recipe_user.username }}</a></div>
            <div class="col-md-4 text-right">{{ each.added_date }}</div>

        </div>

        <div class="row mt-4">
            <h4 class="w-100" ><a href="/recipe/{{ each.id }}/">{{ each.recipe_name }}</a></h4>
            <div class="w-100" >{{ each.recipe_category }} / {{ each.recipe_cuisine }}</div>

            <div class="w-100 mt-2">{{ each.recipe_description|truncatechars:355 }}</div>
        </div>

        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>

        <div class="row">


            {% if each.liked == 0 %}
                 <i class="la la-heart-o h3 float-left mr-2"></i>
             {% else %}
                 <i class="la la-heart kt-font-danger h3 float-left mr-2"></i>
             {% endif %} <div class="h5 pt-1 float-left mr-4">{{ each.like_count }}</div>


            <i class="la la-comment h3 float-left mr-2"></i> <div class="h5 pt-1">{{ each.comment_count }}</div>



        </div>

    </div>
</div>